nav {
    height: 220px;
    
}
.principal {
    padding: 10px;
}
.principal h1{
    font-size: 1.3em;
}
.container {
    flex-direction: column;
    padding: 6px 0;
}
.container h1{
    font-size: 1em;
    
}
#navbar-itens {
    flex-direction: column;
    text-align: center;
    width: 100%;
    font-size: 0.8em;
    
}
.logo {
    bottom: 15px;
}
#navbar-itens li:nth-child(2){
    border-top: 3px solid  rgba(128, 128, 128, 0.651);
    border-bottom: 3px solid rgba(128, 128, 128, 0.664);
}
#container-img  {
    grid-template-columns: repeat(2, 1fr);
}
.img {
    width: 30%;
    height: 30%;
}
.blocos {
    width: 70%;
    position: relative;
    font-size: 1em;
    padding: 10px;
}
.fature {
 align-items: center;
 justify-content: center;
}
.programas h1{
    padding: 10px;
}
#funcao h1{
    padding: 6px;
}
.img-flex{
    display: block;
    
}
.galeria img{
    width: 100%;
    margin-left: 0;
    height: 100%;
    padding: 0;
    border-radius: 1px;
    
    
}

.fotos{
    padding: 4px;
}
.contato p{
    font-size: 0.5em;
    padding: 6px;
}